<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Hello Coursera</title>
  </head>

  <body>
    <h1> Hello Coursera!  I am thrilled
    </h1>

    <div ng-app="myFirstApp">


    <div ng-controller="CulatorController">
      Your Name <input type="text" ng-model="name" ng-keyup="displayNumeric();" ng-blur="upperFun();">
      Numeric Value of name : {{tvalue}}
      Upper case name: {{upperName}}


          <div >
              <button type="button" name="button" ng-click="changeImage();"> Click Here</button>
              <img ng-src="ball{{imgValue}}.jpeg">
          </div>
    </div>

      </div>



  </body>
</html>
